@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans:300,400');
$primary-color: #dacbc7;


body {
    font-family: 'Noto Sans', sans-serif;
}
a {
    color: #000;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.subTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 66pt;
    letter-spacing: 4pt;
}
.subTitleCn {
    font-weight: 300;
    font-size: 16pt;
    letter-spacing: 2pt;
    border: 1px #000 solid;
    width: 100px;
    height: 137px;
}

// html {
//     height: 100%;
//     overflow: hidden;
// }
// body { 
//     margin:0;
//     padding:0;
//     perspective: 1px;
//     transform-style: preserve-3d;
//     height: 100%;
//     overflow-y: scroll;
//     overflow-x: hidden;
//     font-family: Nunito;
//   }


.hausennTitle {
    width: 200px;
    margin: 0 auto;
    img {
        width: 200px;
    }
}
.hausennLogo {

}
.hausennLogo img {
    width: 27px;
}
.hausennContent {
    position: fixed;
    right: 0;
    opacity: 1;
    z-index: 100;
}

//idea
.idea {
    position: relative;
    .ideaBlock {
        position: absolute;
    }
    .nudeBlock {
        background-color: $primary-color;
        width: 1023px;
        height: 390px;
    }
    .ideaBanner {
        position: absolute;
        img {
            width: 1166px;
        }
    }
    .ideaContent p {
        position: absolute;
        font-weight: bold;
        font-size: 34px;
        letter-spacing: 4px;
    
    }
}




//source
.source {
    .sourceBanner {
        width: 570px;
    }
    .cnSlogan {
        font-weight: 300;
        font-size: 15px;
    }
    .sourceContentEg p {
        font-weight: bold;
        font-size: 34px;
        letter-spacing: 4px;
    }
    .blackBlock {
        background-color: #000;
        width: 55px;
        height: 7px;
    }
}

//couture
.couture {
    .cotureBanner {
        img {
            width: 1050px;
        }
    }

}

//collections
.collections {
    .collectionsBanner {
        img {
            width: 480px;
        }
    }

}

//season
.seasons {
    .seasonsBannerMan {
        img {
            width: 448px;
        }
    }
    .seasonsBannerLeaf {
        img {
            width: 587px;
        }
    }
}

footer {
    background-color: $primary-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 245px;
    .contactInfo {
        font-family: ‘a-otf-futo-min-a101-pr6n’, serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 1px;
    }
    a {
        font-weight: 300;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 15px;
    }
    .contactName {
        margin-left: auto;
        margin-top: 75px;
        .copyright {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 13px;
            letter-spacing: 1px;
        }
    }
}
