footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 245px;

  .contactInfo {
    font-family: ‘a-otf-futo-min-a101-pr6n’, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 3px;
    width: 80%;
    margin: 0 auto;

    .address {
      padding: 120px 0 0;
    }
  }

  a {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 3px;
    text-decoration: none;
    color: #000;
  }

  .email {
    padding-top: 10px;
  }

  .contactName {
    width: 80%;
    margin: 75px auto 0;
    text-align: right;

    img {
      width: 312px;
    }

    .copyright {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 3px;
      padding-top: 30px;
    }
  }
}