@mixin groupStyle($marginBottom) {
  width: 100%;
  position: relative;
  margin-bottom: $marginBottom;
}
@mixin textStyle($fontSize,$lineHeight,$spacing) {
  font-size: $fontSize;
  font-family: sans-serif;
  line-height: $lineHeight;
  letter-spacing: $spacing;
}
@mixin bannerBackground($url) {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: linear 100ms;
}
@mixin mouseButtonStyle {
  margin: 0 auto;
  width: 24px;
  height: 34px;
  margin-top: 30px;
  position: relative;
  top: 0;
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  img {
    width: 100%;
  }
}
@keyframes bounce {
  0% {
    top: 0;
  }

  100% {
    top: 2px;
  }
}
@mixin footerStyle {
  .contactInfo {
    font-family: ‘a-otf-futo-min-a101-pr6n’, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 3px;
    width: 80%;
    margin: 0 auto;

    .address {
      padding: 120px 0 0;
    }
  }

  a {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 3px;
    text-decoration: none;
    color: #000;
  }

  .email {
    padding-top: 10px;
  }

  .contactName {
    width: 80%;
    margin: 75px auto 0;
    text-align: right;

    img {
      width: 312px;
    }

    .copyright {
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 3px;
      padding-top: 30px;
    }
  }
}