@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans:300,400,700");
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 2px;
  }
  100% {
    top: 0;
  }
}
.menu {
  z-index: 1;
  height: 100vh;
  width: 590px;
  background-color: #000;
  position: fixed;
  opacity: 0.8;
  padding: 50px 0 120px 145px;
  box-sizing: border-box;
  left: -590px;
  transition: 2s;
}

.menuContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logo img {
  width: 164px;
  height: 18px;
}

.subPageLogo {
  display: flex;
  margin-top: 20px;
}
.subPageLogo img:first-child {
  width: 107px;
  height: 18px;
  padding-right: 15px;
}
.subPageLogo img:nth-child(2) {
  width: 92px;
  height: 18px;
  padding: 0 15px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: #fff;
}
.subPageLogo img:last-child {
  width: 100px;
  height: 18px;
  padding-left: 15px;
}

.menuMain {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -67.5px;
}
.menuMain img:first-child {
  width: 230px;
  height: 40px;
}
.menuMain img:last-child {
  margin-top: 55px;
  width: 199px;
  height: 40px;
}

.menuLink {
  color: #fff;
  font-size: 16px;
}
.menuLink i {
  margin-right: 20px;
}

.burgerMenu {
  z-index: 2;
  width: 39px;
  height: 19px;
  position: fixed;
  top: 50px;
  left: 50px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
@media (max-width: 566px) {
  .burgerMenu {
    top: 35px;
    left: 20px;
  }
}
.burgerMenu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 16.5px;
  background: #fff;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}
.burgerMenu span:nth-child(even) {
  left: 60%;
  border-radius: 0 5px 5px 0;
}
.burgerMenu span:nth-child(odd) {
  left: 0;
  border-radius: 5px 0 0 5px;
}
.burgerMenu span:nth-child(1), .burgerMenu span:nth-child(2) {
  top: 0;
}
.burgerMenu span:nth-child(3), .burgerMenu span:nth-child(4) {
  top: 8px;
}
.burgerMenu span:nth-child(5), .burgerMenu span:nth-child(6) {
  top: 16px;
}
.burgerMenu.open span:nth-child(1), .burgerMenu.open span:nth-child(6) {
  transform: rotate(45deg);
}
.burgerMenu.open span:nth-child(2), .burgerMenu.open span:nth-child(5) {
  transform: rotate(-45deg);
}
.burgerMenu.open span:nth-child(1) {
  left: 4px;
  top: 7px;
}
.burgerMenu.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}
.burgerMenu.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.burgerMenu.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.burgerMenu.open span:nth-child(5) {
  left: 4px;
  top: 18px;
}
.burgerMenu.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 18px;
}

.contactUs {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  right: -100vw;
  transition: 2s;
  background-color: #fff;
}
.contactUs img {
  width: 100%;
  height: auto;
}

.contantUsImage {
  z-index: 2;
  position: fixed;
  top: calc(50vh - 190px);
  right: 0;
  width: 100px;
  height: 164px;
}
@media (max-width: 768px) {
  .contantUsImage {
    display: none;
  }
}

body {
  background-color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

.hausennBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/hausenn/header_photo_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: linear 100ms;
}

.hausennBannerMain {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hausennBannerContent {
  position: relative;
}
.hausennBannerContent::before {
  content: " ";
  position: absolute;
  height: 1px;
  top: 50%;
  left: calc(50% - 450px);
  width: 175px;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .hausennBannerContent::before {
    display: none;
  }
}
.hausennBannerContent .heroImage {
  width: 510px;
  height: 510px;
}
@media (max-width: 566px) {
  .hausennBannerContent .heroImage {
    width: 320px;
    height: 320px;
  }
}
.hausennBannerContent::after {
  content: " ";
  position: absolute;
  height: 1px;
  top: 50%;
  width: 175px;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .hausennBannerContent::after {
    display: none;
  }
}

.mouseButton {
  margin: 0 auto;
  width: 24px;
  height: 34px;
  margin-top: 30px;
  position: relative;
  top: 0;
  animation-name: bounce;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}
.mouseButton img {
  width: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.subTitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 10px;
}

.rectTitleCn {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 3px;
  border: 1px #000 solid;
  padding: 20px 0 0 15px;
  width: 85px;
  height: 117px;
}

.enContent {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 2px;
}

.cnContent {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 3px;
}

.animated {
  animation-duration: 10s;
  animation-iteration-count: 3;
}

.hausennTitle {
  width: 200px;
  margin: 20px auto 0;
}
.hausennTitle img {
  width: 200px;
}

.hausennLogo img {
  width: 27px;
}

.hausennContent {
  position: fixed;
  right: 0;
  opacity: 1;
  z-index: 100;
}

.section2 {
  height: 8615px;
}

.container {
  width: 100%;
}

.parallax {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  perspective: 1px;
}

.parallax__group {
  position: relative;
  height: 768px;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax__layer--fore {
  position: absolute;
  transform: translateZ(0px) scale(1);
  z-index: 1;
}

.parallax__layer--base {
  position: absolute;
  transform: translateZ(-1px) scale(1);
}

.parallax__layer--back {
  position: absolute;
  transform: translateZ(-2px) scale(3.2);
  z-index: -1;
}

.parallax__layer--back2 {
  position: absolute;
  transform: translateZ(-3px) scale(2);
  z-index: -2;
}

.idea .enContent {
  transform: translateX(450px) translateY(15px);
}
.idea .banner1 {
  transform: translateX(-550px) translateY(-450px);
}
.idea .banner2 {
  transform: translateX(-350px) translateY(-100px);
}
.idea .nudeBlock {
  background-color: #dacbc7;
  width: 1023px;
  height: 388px;
  transform: translateX(-110px) translateY(0px) scale(0.85);
}
.idea .cnContent {
  transform: translateX(900px) translateY(50px);
}

.source .blackBlock {
  background-color: #000;
  width: 55px;
  height: 7px;
  transform: translateX(100px) translateY(250px);
}
.source .enContent {
  transform: translateX(150px) translateY(700px) scale(2);
}
.source .cnContent {
  transform: translateX(900px) translateY(1200px);
}

.couture .subTitle {
  transform: translateX(900px) translateY(800px);
}
.couture .banner {
  transform: translateX(-250px) translateY(600px);
}
.couture .rectTitleCn {
  transform: translateX(1080px) translateY(850px);
}
.couture .nudeBlock {
  width: 460px;
  height: 425px;
  background-color: #dacbc7;
  transform: translateX(450px) translateY(300px);
}
.couture .blackBlock {
  width: 135px;
  height: 28px;
  background-color: #000;
  transform: translateX(1080px) translateY(900px) scale(0.6);
}

.collections .subTitle {
  transform: translateX(100px) translateY(2000px);
}
.collections .rectTitleCn {
  transform: translateX(40px) translateY(1700px);
}
.collections .blackBlock {
  width: 135px;
  height: 28px;
  background-color: #000;
  transform: translateX(100px) translateY(2300px);
}
.collections .banner {
  transform: translateX(-280px) translateY(1800px);
}
.collections .nudeBlock {
  width: 489px;
  height: 600px;
  background-color: #dacbc7;
  transform: translateX(-180px) translateY(600px);
}

.seasons .subTitle {
  transform: translateX(600px) translateY(3700px);
}
.seasons .rectTitleCn {
  transform: translateX(720px) translateY(3200px);
}
.seasons .nudeBlock {
  width: 180px;
  height: 216px;
  background-color: #dacbc7;
  transform: translateX(720px) translateY(3450px) scale(2);
}
.seasons .blackBlock {
  width: 135px;
  height: 28px;
  background-color: #000;
  transform: translateX(1750px) translateY(4500px);
}
.seasons .banner1 {
  transform: translateX(400px) translateY(1000px) scale(0.5);
}
.seasons .banner2 {
  transform: translateX(400px) translateY(2200px);
}

body .accordion div[data-control] {
  font-size: 40px;
  font-weight: 600;
  padding: 2px 8px;
}
body .accordion ul {
  padding-left: 16px;
}
body .accordion ul .subtitle {
  font-size: 28px;
  padding: 2px 8px;
}
body .accordion ul .subtitle .item {
  font-size: 28px;
  font-weight: 300;
  padding: 2px 8px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 245px;
}
footer .contactInfo {
  font-family: ‘a-otf-futo-min-a101-pr6n’, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 3px;
  width: 80%;
  margin: 0 auto;
}
footer .contactInfo .address {
  padding: 120px 0 0;
}
footer a {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 3px;
  text-decoration: none;
  color: #000;
}
footer .email {
  padding-top: 10px;
}
footer .contactName {
  width: 80%;
  margin: 75px auto 0;
  text-align: right;
}
footer .contactName img {
  width: 312px;
}
footer .contactName .copyright {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 3px;
  padding-top: 30px;
}

footer {
  background-color: #dacbc7;
}

/*# sourceMappingURL=hausenn.css.map */
