@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes bounce {
  0% {
    top: 0;
  }
  100% {
    top: 2px;
  }
}
.loadingPage {
  position: relative;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #000;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 2s;
}
.loadingPage img {
  width: 200px;
  height: 200px;
  opacity: 1;
  animation-name: flicker;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.menu {
  z-index: 1;
  height: 100vh;
  width: 590px;
  background-color: #000;
  position: fixed;
  opacity: 0.8;
  padding: 50px 0 120px 145px;
  box-sizing: border-box;
  left: -590px;
  transition: 2s;
}

.menuContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logo img {
  width: 164px;
  height: 18px;
}

.subPageLogo {
  display: flex;
  margin-top: 20px;
}
.subPageLogo img {
  width: 100%;
}
.subPageLogo a:first-child {
  width: 107px;
  height: 18px;
  padding-right: 15px;
}
.subPageLogo a:nth-child(2) {
  width: 92px;
  height: 18px;
  padding: 0 15px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: #fff;
}
.subPageLogo a:last-child {
  width: 100px;
  height: 18px;
  padding-left: 15px;
}

.menuMain {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -67.5px;
}
.menuMain img:first-child {
  width: 230px;
  height: 40px;
}
.menuMain img:last-child {
  margin-top: 55px;
  width: 199px;
  height: 40px;
}

.menuLink {
  color: #fff;
  font-size: 16px;
}
.menuLink i {
  margin-right: 20px;
}

.burgerMenu {
  z-index: 2;
  width: 39px;
  height: 19px;
  position: fixed;
  top: 50px;
  left: 50px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
@media (max-width: 566px) {
  .burgerMenu {
    top: 35px;
    left: 20px;
  }
}
.burgerMenu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 16.5px;
  background: #fff;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}
.burgerMenu span:nth-child(even) {
  left: 60%;
  border-radius: 0 5px 5px 0;
}
.burgerMenu span:nth-child(odd) {
  left: 0;
  border-radius: 5px 0 0 5px;
}
.burgerMenu span:nth-child(1), .burgerMenu span:nth-child(2) {
  top: 0;
}
.burgerMenu span:nth-child(3), .burgerMenu span:nth-child(4) {
  top: 8px;
}
.burgerMenu span:nth-child(5), .burgerMenu span:nth-child(6) {
  top: 16px;
}
.burgerMenu.open span:nth-child(1), .burgerMenu.open span:nth-child(6) {
  transform: rotate(45deg);
}
.burgerMenu.open span:nth-child(2), .burgerMenu.open span:nth-child(5) {
  transform: rotate(-45deg);
}
.burgerMenu.open span:nth-child(1) {
  left: 4px;
  top: 7px;
}
.burgerMenu.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}
.burgerMenu.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.burgerMenu.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.burgerMenu.open span:nth-child(5) {
  left: 4px;
  top: 18px;
}
.burgerMenu.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 18px;
}

.contactUs {
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  right: -100vw;
  transition: 2s;
  background-color: #fff;
}
.contactUs img {
  width: 100%;
  height: auto;
}

.contantUsImage {
  z-index: 2;
  position: fixed;
  top: calc(50vh - 190px);
  right: 0;
  width: 100px;
  height: 164px;
}
@media (max-width: 768px) {
  .contantUsImage {
    display: none;
  }
}

body {
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

.kerwayBannerMain {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kerwayBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/kerway/header_photo_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: linear 100ms;
}

.kerwayBannerContent {
  position: relative;
}
.kerwayBannerContent::before {
  content: " ";
  position: absolute;
  height: 1px;
  top: 50%;
  left: calc(50% - 450px);
  width: 175px;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .kerwayBannerContent::before {
    display: none;
  }
}
.kerwayBannerContent .heroImage {
  width: 510px;
  height: 510px;
}
@media (max-width: 566px) {
  .kerwayBannerContent .heroImage {
    width: 320px;
    height: 320px;
  }
}
.kerwayBannerContent::after {
  content: " ";
  position: absolute;
  height: 1px;
  top: 50%;
  width: 175px;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .kerwayBannerContent::after {
    display: none;
  }
}

.mouseButton {
  margin: 0 auto;
  width: 24px;
  height: 34px;
  margin-top: 30px;
  position: relative;
  top: 0;
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.mouseButton img {
  width: 100%;
}

.parallax {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 100px 0;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
}
.parallax::-webkit-scrollbar {
  display: none;
}

.kerwayTitle {
  width: 192px;
  margin: 0 auto;
  height: 32px;
  margin-bottom: 175px;
}
.kerwayTitle img {
  width: 100%;
  height: 100%;
}

.group1 {
  width: 100%;
  position: relative;
  margin-bottom: 300px;
}

.group2 {
  width: 100%;
  position: relative;
  margin-bottom: 200px;
  text-align: right;
  padding-right: 110px;
  box-sizing: border-box;
}

.group3 {
  width: 100%;
  position: relative;
  margin-bottom: 267px;
  display: flex;
  justify-content: space-between;
}

.kerwayHero {
  width: 100%;
}

.bannerSlogan {
  font-size: 44px;
  font-family: sans-serif;
  line-height: 65px;
  letter-spacing: 2px;
  right: 110px;
  position: absolute;
  top: -370px;
}

.group2Dash {
  width: 36px;
  height: 4px;
  background-color: #000;
  right: 110px;
  position: absolute;
  top: -60px;
}

.group3Dash {
  width: 36px;
  height: 4px;
  background-color: #000;
  position: absolute;
  left: 70px;
  top: 270px;
}

.contextTitle {
  position: absolute;
  left: 70px;
  font-size: 44px;
  font-family: sans-serif;
  line-height: 65px;
  letter-spacing: 2px;
}

.contextSlogn {
  position: absolute;
  font-size: 19px;
  font-family: sans-serif;
  line-height: 38px;
  letter-spacing: 3px;
  writing-mode: vertical-rl;
  top: 50px;
  left: 380px;
}

.contentStyle {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 24px;
  letter-spacing: 2px;
  width: 325px;
  height: 165px;
  word-wrap: break-word;
  margin-top: 360px;
  margin-left: 70px;
}

.jobsWords {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 24px;
  letter-spacing: 2px;
}

.designer {
  position: relative;
}
.designer img {
  width: 390px;
  height: 520px;
}
.designer img:first-child {
  margin-right: 200px;
}
.designer img:nth-child(2) {
  position: absolute;
  z-index: -1;
  top: 100px;
  left: 100px;
}
.designer img:nth-child(3) {
  position: absolute;
  z-index: -2;
  top: 200px;
  left: 200px;
}

.context {
  position: relative;
}

body {
  box-sizing: border-box;
}

#kerwayWorks {
  margin-top: 80px;
}
#kerwayWorks .kerwayTitle {
  color: white;
  margin-bottom: 80px;
  text-align: center;
  font-weight: 600;
  font-size: 40pt;
  font-family: cursive;
}
#kerwayWorks .kerwaySubtitle {
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 40pt;
  letter-spacing: 4pt;
  position: relative;
  margin-bottom: 30px;
  margin-left: 50px;
}
#kerwayWorks .kerwaySubtitle::before {
  content: '';
  display: block;
  background-color: #fff;
  height: 16px;
  width: 150px;
  margin-bottom: 30px;
}
#kerwayWorks .kerwaySubtitle .kerwayChineseSubtitle {
  font-size: 32pt;
}
#kerwayWorks .grid {
  margin: 0 auto;
  max-width: 1200px;
}
#kerwayWorks .grid::after {
  content: '';
  display: block;
  clear: both;
}
#kerwayWorks .grid .grid-item {
  padding: 25px;
  float: left;
  width: 40%;
}
#kerwayWorks .grid .grid-item img {
  max-width: 100%;
}
#kerwayWorks .kerwayWorksFliter {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40px;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  display: none;
}
#kerwayWorks .kerwayWorksFliter.show {
  display: flex;
}
#kerwayWorks .kerwayWorksFliter .nineDots {
  color: white;
  font-size: 40px;
}
#kerwayWorks .kerwayWorksFliter .filters {
  display: flex;
  justify-content: space-around;
}
#kerwayWorks .kerwayWorksFliter .filters .item {
  margin: 0 20px;
}
#kerwayWorks .kerwayWorksFliter .filters .item .filterKinds {
  color: white;
  font-size: 20px;
}
#kerwayWorks .kerwayWorksFliter .filters .item .listContainer {
  margin-top: 16px;
  padding-top: 10px;
  background-color: #fff;
}
#kerwayWorks .kerwayWorksFliter .filters .item .listContainer li[data-filter] {
  color: rgba(0, 0, 0, 0.721);
  padding: 8px 10px;
}
#kerwayWorks .kerwayWorksFliter .filters .item .listContainer .filterSubtitle {
  color: black;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 10px;
}
#kerwayWorks .kerwayWorksFliter .filters .workProjects {
  transition: 1s ease-in-out;
}
#kerwayWorks .kerwayWorksFliter .filters .workProjects:hover {
  transform: translateY(-426px);
}
#kerwayWorks .kerwayWorksFliter .filters .photographers {
  transition: 1s ease-in-out;
}
#kerwayWorks .kerwayWorksFliter .filters .photographers:hover {
  transform: translateY(-390px);
}
#kerwayWorks .kerwayWorksFliter .filters .styleists {
  transition: 1s ease-in-out;
}
#kerwayWorks .kerwayWorksFliter .filters .styleists:hover {
  transform: translateY(-134px);
}
#kerwayWorks .kerwayWorksFliter .filters .directors {
  transition: 1s ease-in-out;
}
#kerwayWorks .kerwayWorksFliter .filters .directors:hover {
  transform: translateY(-70px);
}
#kerwayWorks .kerwayWorksFliter .arrowUp {
  color: white;
  font-size: 40px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 245px;
  background-color: #fff;
}
footer .contactInfo {
  font-family: ‘a-otf-futo-min-a101-pr6n’, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 3px;
  width: 80%;
  margin: 0 auto;
}
footer .contactInfo .address {
  padding: 120px 0 0;
}
footer a {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 3px;
  text-decoration: none;
  color: #000;
}
footer .email {
  padding-top: 10px;
}
footer .contactName {
  width: 80%;
  margin: 75px auto 0;
  text-align: right;
}
footer .contactName img {
  width: 312px;
}
footer .contactName .copyright {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 3px;
  padding-top: 30px;
}

/*# sourceMappingURL=kerway.css.map */
