@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 5, ../sass/partial/_reset.scss */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 94, ../sass/partial/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 108, ../sass/partial/_reset.scss */
body {
  line-height: 1;
}

/* line 112, ../sass/partial/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 117, ../sass/partial/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 122, ../sass/partial/_reset.scss */
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

/* line 130, ../sass/partial/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/partial/_menu.scss */
.menu {
  z-index: 1;
  height: 100vh;
  width: 590px;
  background-color: #000;
  position: fixed;
  opacity: 0.8;
  padding: 50px 0 120px 145px;
  box-sizing: border-box;
  left: -590px;
  transition: 2s;
}

/* line 14, ../sass/partial/_menu.scss */
.menuContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

/* line 23, ../sass/partial/_menu.scss */
.logo img {
  width: 164px;
  height: 18px;
}

/* line 29, ../sass/partial/_menu.scss */
.subPageLogo {
  display: flex;
  margin-top: 20px;
}
/* line 34, ../sass/partial/_menu.scss */
.subPageLogo img:first-child {
  width: 107px;
  height: 18px;
  padding-right: 15px;
}
/* line 40, ../sass/partial/_menu.scss */
.subPageLogo img:nth-child(2) {
  width: 92px;
  height: 18px;
  padding: 0 15px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: #fff;
}
/* line 50, ../sass/partial/_menu.scss */
.subPageLogo img:last-child {
  width: 100px;
  height: 18px;
  padding-left: 15px;
}

/* line 58, ../sass/partial/_menu.scss */
.menuMain {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -67.5px;
}
/* line 65, ../sass/partial/_menu.scss */
.menuMain img:first-child {
  width: 230px;
  height: 40px;
}
/* line 70, ../sass/partial/_menu.scss */
.menuMain img:last-child {
  margin-top: 55px;
  width: 199px;
  height: 40px;
}

/* line 78, ../sass/partial/_menu.scss */
.menuLink {
  color: #fff;
  font-size: 16px;
}
/* line 82, ../sass/partial/_menu.scss */
.menuLink i {
  margin-right: 20px;
}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 2px;
  }
  100% {
    top: 0;
  }
}
/* line 1, ../sass/partial/_burgerMenu.scss */
.burgerMenu {
  z-index: 2;
  width: 39px;
  height: 19px;
  position: fixed;
  top: 50px;
  left: 50px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
@media (max-width: 566px) {
  /* line 1, ../sass/partial/_burgerMenu.scss */
  .burgerMenu {
    top: 35px;
    left: 20px;
  }
}
/* line 16, ../sass/partial/_burgerMenu.scss */
.burgerMenu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 16.5px;
  background: #fff;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}
/* line 27, ../sass/partial/_burgerMenu.scss */
.burgerMenu span:nth-child(even) {
  left: 60%;
  border-radius: 0 5px 5px 0;
}
/* line 32, ../sass/partial/_burgerMenu.scss */
.burgerMenu span:nth-child(odd) {
  left: 0;
  border-radius: 5px 0 0 5px;
}
/* line 37, ../sass/partial/_burgerMenu.scss */
.burgerMenu span:nth-child(1), .burgerMenu span:nth-child(2) {
  top: 0;
}
/* line 42, ../sass/partial/_burgerMenu.scss */
.burgerMenu span:nth-child(3), .burgerMenu span:nth-child(4) {
  top: 8px;
}
/* line 47, ../sass/partial/_burgerMenu.scss */
.burgerMenu span:nth-child(5), .burgerMenu span:nth-child(6) {
  top: 16px;
}
/* line 52, ../sass/partial/_burgerMenu.scss */
.burgerMenu.open span:nth-child(1), .burgerMenu.open span:nth-child(6) {
  transform: rotate(45deg);
}
/* line 57, ../sass/partial/_burgerMenu.scss */
.burgerMenu.open span:nth-child(2), .burgerMenu.open span:nth-child(5) {
  transform: rotate(-45deg);
}
/* line 62, ../sass/partial/_burgerMenu.scss */
.burgerMenu.open span:nth-child(1) {
  left: 4px;
  top: 7px;
}
/* line 67, ../sass/partial/_burgerMenu.scss */
.burgerMenu.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}
/* line 72, ../sass/partial/_burgerMenu.scss */
.burgerMenu.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
/* line 77, ../sass/partial/_burgerMenu.scss */
.burgerMenu.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
/* line 82, ../sass/partial/_burgerMenu.scss */
.burgerMenu.open span:nth-child(5) {
  left: 4px;
  top: 18px;
}
/* line 87, ../sass/partial/_burgerMenu.scss */
.burgerMenu.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 18px;
}

/* line 1, ../sass/partial/_contactUs.scss */
.contactUs {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  right: -100vw;
  transition: 2s;
  background-color: #fff;
}
/* line 10, ../sass/partial/_contactUs.scss */
.contactUs img {
  width: 100%;
  height: auto;
}

/* line 16, ../sass/partial/_contactUs.scss */
.contantUsImage {
  z-index: 2;
  position: fixed;
  top: calc(50vh - 190px);
  right: 0;
  width: 100px;
  height: 164px;
}
@media (max-width: 768px) {
  /* line 16, ../sass/partial/_contactUs.scss */
  .contantUsImage {
    display: none;
  }
}

/* line 1, ../sass/kerway/_kerwayBanner.scss */
body {
  background-color: black;
}

/* line 5, ../sass/kerway/_kerwayBanner.scss */
body::-webkit-scrollbar {
  display: none;
}

/* line 9, ../sass/kerway/_kerwayBanner.scss */
.kerwayBannerMain {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 23, ../sass/kerway/_kerwayBanner.scss */
.kerwayBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/kerway/header_photo_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: linear 100ms;
}

/* line 27, ../sass/kerway/_kerwayBanner.scss */
.kerwayBannerContent {
  position: relative;
}
/* line 30, ../sass/kerway/_kerwayBanner.scss */
.kerwayBannerContent::before {
  content: " ";
  position: absolute;
  height: 1px;
  top: 50%;
  left: calc(50% - 450px);
  width: 175px;
  background-color: #fff;
}
@media (max-width: 1024px) {
  /* line 30, ../sass/kerway/_kerwayBanner.scss */
  .kerwayBannerContent::before {
    display: none;
  }
}
/* line 43, ../sass/kerway/_kerwayBanner.scss */
.kerwayBannerContent .heroImage {
  width: 510px;
  height: 510px;
}
@media (max-width: 566px) {
  /* line 43, ../sass/kerway/_kerwayBanner.scss */
  .kerwayBannerContent .heroImage {
    width: 320px;
    height: 320px;
  }
}
/* line 52, ../sass/kerway/_kerwayBanner.scss */
.kerwayBannerContent::after {
  content: " ";
  position: absolute;
  height: 1px;
  top: 50%;
  width: 175px;
  background-color: #fff;
}
@media (max-width: 1024px) {
  /* line 52, ../sass/kerway/_kerwayBanner.scss */
  .kerwayBannerContent::after {
    display: none;
  }
}

/* line 65, ../sass/kerway/_kerwayBanner.scss */
.mouseButton {
  margin: 0 auto;
  width: 24px;
  height: 34px;
  margin-top: 30px;
  position: relative;
  top: 0;
  animation-name: bounce;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}
/* line 34, ../sass/partial/_mixin.scss */
.mouseButton img {
  width: 100%;
}

/* line 1, ../sass/kerway/_kerwayMain.scss */
.parallax {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 100px 0;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
}

/* line 12, ../sass/kerway/_kerwayMain.scss */
.kerwayTitle {
  width: 192px;
  margin: 0 auto;
  height: 32px;
  margin-bottom: 175px;
}
/* line 18, ../sass/kerway/_kerwayMain.scss */
.kerwayTitle img {
  width: 100%;
  height: 100%;
}

/* line 24, ../sass/kerway/_kerwayMain.scss */
.group1 {
  width: 100%;
  position: relative;
  margin-bottom: 300px;
}

/* line 28, ../sass/kerway/_kerwayMain.scss */
.group2 {
  width: 100%;
  position: relative;
  margin-bottom: 200px;
  text-align: right;
  padding-right: 110px;
  box-sizing: border-box;
}

/* line 35, ../sass/kerway/_kerwayMain.scss */
.group3 {
  width: 100%;
  position: relative;
  margin-bottom: 267px;
  display: flex;
  justify-content: space-between;
}

/* line 41, ../sass/kerway/_kerwayMain.scss */
.kerwayHero {
  width: 100%;
}

/* line 45, ../sass/kerway/_kerwayMain.scss */
.bannerSlogan {
  font-size: 44px;
  font-family: sans-serif;
  line-height: 65px;
  letter-spacing: 2px;
  right: 110px;
  position: absolute;
  top: -370px;
}

/* line 52, ../sass/kerway/_kerwayMain.scss */
.group2Dash {
  width: 36px;
  height: 4px;
  background-color: #000;
  right: 110px;
  position: absolute;
  top: -60px;
}

/* line 61, ../sass/kerway/_kerwayMain.scss */
.group3Dash {
  width: 36px;
  height: 4px;
  background-color: #000;
  position: absolute;
  left: 70px;
  top: 270px;
}

/* line 70, ../sass/kerway/_kerwayMain.scss */
.contextTitle {
  position: absolute;
  left: 70px;
  font-size: 44px;
  font-family: sans-serif;
  line-height: 65px;
  letter-spacing: 2px;
}

/* line 76, ../sass/kerway/_kerwayMain.scss */
.contextSlogn {
  position: absolute;
  font-size: 19px;
  font-family: sans-serif;
  line-height: 38px;
  letter-spacing: 3px;
  writing-mode: vertical-rl;
  top: 50px;
  left: 380px;
}

/* line 84, ../sass/kerway/_kerwayMain.scss */
.contentStyle {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 24px;
  letter-spacing: 2px;
  width: 325px;
  height: 165px;
  word-wrap: break-word;
  margin-top: 360px;
  margin-left: 70px;
}

/* line 93, ../sass/kerway/_kerwayMain.scss */
.jobsWords {
  font-size: 14px;
  font-family: sans-serif;
  line-height: 24px;
  letter-spacing: 2px;
}

/* line 97, ../sass/kerway/_kerwayMain.scss */
.designer {
  position: relative;
}
/* line 100, ../sass/kerway/_kerwayMain.scss */
.designer img {
  width: 390px;
  height: 520px;
}
/* line 104, ../sass/kerway/_kerwayMain.scss */
.designer img:first-child {
  margin-right: 200px;
}
/* line 108, ../sass/kerway/_kerwayMain.scss */
.designer img:nth-child(2) {
  position: absolute;
  z-index: -1;
  top: 100px;
  left: 100px;
}
/* line 115, ../sass/kerway/_kerwayMain.scss */
.designer img:nth-child(3) {
  position: absolute;
  z-index: -2;
  top: 200px;
  left: 200px;
}

/* line 124, ../sass/kerway/_kerwayMain.scss */
.context {
  position: relative;
}

/* line 1, ../sass/kerway/_kerwayWorks.scss */
body {
  box-sizing: border-box;
}

/* line 4, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks {
  margin-top: 80px;
}
/* line 6, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayTitle {
  color: white;
  margin-bottom: 80px;
  text-align: center;
  font-weight: 600;
  font-size: 40pt;
  font-family: cursive;
}
/* line 14, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwaySubtitle {
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 40pt;
  letter-spacing: 4pt;
  position: relative;
  margin-bottom: 30px;
  margin-left: 50px;
}
/* line 23, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwaySubtitle::before {
  content: '';
  display: block;
  background-color: #fff;
  height: 16px;
  width: 150px;
  margin-bottom: 30px;
}
/* line 31, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwaySubtitle .kerwayChineseSubtitle {
  font-size: 32pt;
}
/* line 35, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .grid {
  margin: 0 auto;
  max-width: 1200px;
}
/* line 38, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .grid::after {
  content: '';
  display: block;
  clear: both;
}
/* line 43, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .grid .grid-item {
  padding: 25px;
  float: left;
  width: 40%;
}
/* line 47, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .grid .grid-item img {
  max-width: 100%;
}
/* line 52, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
/* line 63, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .nineDots {
  color: white;
  font-size: 40px;
}
/* line 67, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .filters {
  display: flex;
  justify-content: space-around;
}
/* line 70, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .filters .item {
  margin: 0 20px;
}
/* line 72, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .filters .item .filterKinds {
  color: white;
  font-size: 20px;
}
/* line 76, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .filters .item .listContainer {
  margin-top: 16px;
  padding-top: 10px;
  background-color: #fff;
}
/* line 80, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .filters .item .listContainer li[data-filter] {
  color: rgba(0, 0, 0, 0.721);
  padding: 8px 10px;
}
/* line 84, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .filters .item .listContainer .filterSubtitle {
  color: black;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 10px;
}
/* line 92, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .filters .workProjects {
  transition: 1s ease-in-out;
}
/* line 94, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .filters .workProjects:hover {
  transform: translateY(-426px);
}
/* line 98, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .filters .photographers {
  transition: 1s ease-in-out;
}
/* line 100, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .filters .photographers:hover {
  transform: translateY(-390px);
}
/* line 104, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .filters .styleists {
  transition: 1s ease-in-out;
}
/* line 106, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .filters .styleists:hover {
  transform: translateY(-134px);
}
/* line 110, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .filters .directors {
  transition: 1s ease-in-out;
}
/* line 112, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .filters .directors:hover {
  transform: translateY(-70px);
}
/* line 117, ../sass/kerway/_kerwayWorks.scss */
#kerwayWorks .kerwayWorksFliter .arrowUp {
  color: white;
  font-size: 40px;
}

/* line 1, ../sass/partial/_footer.scss */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 245px;
}
/* line 6, ../sass/partial/_footer.scss */
footer .contactInfo {
  font-family: ‘a-otf-futo-min-a101-pr6n’, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 3px;
  width: 80%;
  margin: 0 auto;
}
/* line 15, ../sass/partial/_footer.scss */
footer .contactInfo .address {
  padding: 120px 0 0;
}
/* line 20, ../sass/partial/_footer.scss */
footer a {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 3px;
  text-decoration: none;
  color: #000;
}
/* line 30, ../sass/partial/_footer.scss */
footer .email {
  padding-top: 10px;
}
/* line 34, ../sass/partial/_footer.scss */
footer .contactName {
  width: 80%;
  margin: 75px auto 0;
  text-align: right;
}
/* line 39, ../sass/partial/_footer.scss */
footer .contactName img {
  width: 312px;
}
/* line 43, ../sass/partial/_footer.scss */
footer .contactName .copyright {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 3px;
  padding-top: 30px;
}

/* line 11, ../sass/kerway.scss */
footer {
  background-color: #fff;
}
