/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

.kerwayMain {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kerwayBackground {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/kerway/header_photo_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: linear 100ms;
}

.burgerMenu {
  width: 39px;
  height: 19px;
  position: fixed;
  top: 50px;
  left: 50px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
@media (max-width: 566px) {
  .burgerMenu {
    top: 35px;
    left: 20px;
  }
}
.burgerMenu span {
  display: block;
  position: absolute;
  height: 3px;
  width: 16.5px;
  background: #fff;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
}
.burgerMenu span:nth-child(even) {
  left: 60%;
  border-radius: 0 5px 5px 0;
}
.burgerMenu span:nth-child(odd) {
  left: 0;
  border-radius: 5px 0 0 5px;
}
.burgerMenu span:nth-child(1), .burgerMenu span:nth-child(2) {
  top: 0;
}
.burgerMenu span:nth-child(3), .burgerMenu span:nth-child(4) {
  top: 8px;
}
.burgerMenu span:nth-child(5), .burgerMenu span:nth-child(6) {
  top: 16px;
}
.burgerMenu.open span:nth-child(1), .burgerMenu.open span:nth-child(6) {
  transform: rotate(45deg);
}
.burgerMenu.open span:nth-child(2), .burgerMenu.open span:nth-child(5) {
  transform: rotate(-45deg);
}
.burgerMenu.open span:nth-child(1) {
  left: 4px;
  top: 7px;
}
.burgerMenu.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}
.burgerMenu.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
.burgerMenu.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
.burgerMenu.open span:nth-child(5) {
  left: 4px;
  top: 29px;
}
.burgerMenu.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

.kerwayBannerContent {
  position: relative;
}
.kerwayBannerContent::before {
  content: " ";
  position: absolute;
  height: 1px;
  top: 50%;
  left: calc(50% - 450px);
  width: 175px;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .kerwayBannerContent::before {
    display: none;
  }
}
.kerwayBannerContent .heroImage {
  width: 510px;
  height: 510px;
}
@media (max-width: 566px) {
  .kerwayBannerContent .heroImage {
    width: 320px;
    height: 320px;
  }
}
.kerwayBannerContent::after {
  content: " ";
  position: absolute;
  height: 1px;
  top: 50%;
  width: 175px;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .kerwayBannerContent::after {
    display: none;
  }
}

.contantUsImage {
  position: fixed;
  top: calc(50% - 164px);
  right: 0;
  width: 100px;
  height: 164px;
}
@media (max-width: 768px) {
  .contantUsImage {
    display: none;
  }
}

.mouseButton {
  margin: 0 auto;
  width: 24px;
  height: 34px;
  margin-top: 30px;
  position: relative;
  top: 0;
  animation-name: bounce;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}
.mouseButton img {
  width: 100%;
}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: 2px;
  }
  100% {
    top: 0;
  }
}
.menu {
  height: 100vh;
  max-width: 590px;
  background-color: #000;
  position: relative;
  opacity: 0.8;
  padding: 50px 0 120px 145px;
  box-sizing: border-box;
}

.menuContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logo img {
  width: 164px;
  height: 18px;
}

.subPageLogo {
  display: flex;
  margin-top: 20px;
}
.subPageLogo img:first-child {
  width: 107px;
  height: 18px;
  padding-right: 15px;
}
.subPageLogo img:nth-child(2) {
  width: 92px;
  height: 18px;
  padding: 0 15px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: #fff;
}
.subPageLogo img:last-child {
  width: 100px;
  height: 18px;
  padding-left: 15px;
}

.menuMain {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -67.5px;
}
.menuMain img:first-child {
  width: 230px;
  height: 40px;
}
.menuMain img:last-child {
  margin-top: 55px;
  width: 199px;
  height: 40px;
}

.menuLink {
  color: #fff;
  font-size: 16px;
}
.menuLink i {
  margin-right: 20px;
}

body {
  box-sizing: border-box;
}

#kerwayWorks {
  margin-top: 80px;
}
#kerwayWorks .kerwayTitle {
  color: white;
  margin-bottom: 80px;
  text-align: center;
  font-weight: 600;
  font-size: 40pt;
  font-family: cursive;
}
#kerwayWorks .kerwaySubtitle {
  color: white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 40pt;
  letter-spacing: 4pt;
  position: relative;
  margin-bottom: 30px;
  margin-left: 50px;
}
#kerwayWorks .kerwaySubtitle::before {
  content: '';
  display: block;
  background-color: #fff;
  height: 16px;
  width: 150px;
  margin-bottom: 30px;
}
#kerwayWorks .kerwaySubtitle .kerwayChineseSubtitle {
  font-size: 32pt;
}
#kerwayWorks .grid {
  margin: 0 auto;
  max-width: 1200px;
}
#kerwayWorks .grid::after {
  content: '';
  display: block;
  clear: both;
}
#kerwayWorks .grid .grid-item {
  padding: 25px;
  float: left;
  width: 40%;
}
#kerwayWorks .grid .grid-item img {
  max-width: 100%;
}
#kerwayWorks .kerwatWorksFliter {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#kerwayWorks .kerwatWorksFliter .nineDots {
  color: white;
  font-size: 40px;
}
#kerwayWorks .kerwatWorksFliter .filters {
  display: flex;
  justify-content: space-around;
}
#kerwayWorks .kerwatWorksFliter .filters .item {
  margin: 0 20px;
}
#kerwayWorks .kerwatWorksFliter .filters .item .filterKinds {
  color: white;
  font-size: 20px;
}
#kerwayWorks .kerwatWorksFliter .filters .item .listContainer {
  margin-top: 16px;
  padding-top: 10px;
  background-color: #fff;
}
#kerwayWorks .kerwatWorksFliter .filters .item .listContainer li[data-filter] {
  color: rgba(0, 0, 0, 0.721);
  padding: 8px 10px;
}
#kerwayWorks .kerwatWorksFliter .filters .item .listContainer .filterSubtitle {
  color: black;
  font-weight: 600;
  font-size: 18px;
  padding: 8px 10px;
}
#kerwayWorks .kerwatWorksFliter .filters .workProjects {
  transition: 1s ease-in-out;
}
#kerwayWorks .kerwatWorksFliter .filters .workProjects:hover {
  transform: translateY(-426px);
}
#kerwayWorks .kerwatWorksFliter .filters .photographers {
  transition: 1s ease-in-out;
}
#kerwayWorks .kerwatWorksFliter .filters .photographers:hover {
  transform: translateY(-390px);
}
#kerwayWorks .kerwatWorksFliter .filters .styleists {
  transition: 1s ease-in-out;
}
#kerwayWorks .kerwatWorksFliter .filters .styleists:hover {
  transform: translateY(-134px);
}
#kerwayWorks .kerwatWorksFliter .filters .directors {
  transition: 1s ease-in-out;
}
#kerwayWorks .kerwatWorksFliter .filters .directors:hover {
  transform: translateY(-70px);
}
#kerwayWorks .kerwatWorksFliter .arrowUp {
  color: white;
  font-size: 40px;
}

/*# sourceMappingURL=main.css.map */
