@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans:300,400,700');

* {
  box-sizing: border-box;
}

.gallery {
  display: grid;
  grid-template-columns: 30% 800px;
  grid-gap: 5%;
  position: fixed;
  right: -100vw;
  top: 0;
  background-color: #f3eff1;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
/*accordion*/
.accordionLists {
  z-index: 1;
  bottom: 0;
  transition: 2s;
  letter-spacing: 8px;
  font-family: 'Open Sans', sans-serif;

  &.show {
    right: 0;
  }

  div[data-accordion-group] {
    color: #333;
    margin-left: 50px;
    transform: translateY(150px);

    .accordion {
      div[data-control] {
        font-size: 36px;
        font-weight: 600;
        padding: 2px 8px;
      }

      ul {
        padding-left: 24px;

        .subtitle {
          font-size: 24px;
          padding: 2px 8px;

          .item {
            font-size: 24px;
            font-weight: 300;
            padding: 4px 8px;
          }
        }
      }
    }
  }
}
/*album*/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 70px;
}

.column::after {
  padding: 0;
}

.columnAll {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 10px;
  justify-self: center;
}
/* The Modal (background) */
.modal {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
}
/* Modal Content */
.modal-content {
  padding: 0;
  max-width: 750px;
  display: grid;
}

.mySlides {
  display: none;
  margin: 0 auto;
  width: 70%;
}
/* Next & previous buttons */
.next,
.prev {
  cursor: pointer;
  padding: 16px;
  color: #333;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
  align-self: center;
}

.numbertext {
  color: #fff;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.demo {
  filter: brightness(50%);
}

.active,
.demo:hover {
  filter: brightness(100%);
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}